.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-footer);

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__inner {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    column-gap: 165px;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.page-footer__address-box {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-bottom: 0;
  }
}

.page-footer__address {
  font-style: normal;
}

.page-footer__item {
  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.page-footer__link {
  color: var(--white-color);
  line-height: 1.5;
}

.page-footer__link_white {
  color: var(--white-transparent-color);
  line-height: 1.5;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.page-footer__social-box {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.page-footer__form-box {
  width: 100%;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: auto;
  }
}
