.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link_current {
  color: var(--accent-color);

  &::after {
    content: " ";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.page-header__contacts-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.page-header__contacts-item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}

.page-header__contacts-link {
  display: flex;
  align-items: center;

  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 31px;

    font-size: 14px;
  }
}

.site-nav__link,
.page-header__contacts-link {
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
