.site-nav__list {
  display: none;
}

.page-header__contacts-list {
  display: none;
}

.burger-menu {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.burger-menu__icon {
  width: 40px;
  height: 40px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #ececec;
}



// .site-nav {
//   display: flex;
//   align-items: center;
// }
// .site-nav__list {
//   display: flex;
//   margin-left: 93px;
// }

// .site-nav__item {
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .site-nav__link {
//   position: relative;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   color: var(--primary-color);
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .site-nav__link_current {
//   color: var(--accent-color);

//   &::after {
//     content: " ";

//     position: absolute;
//     left: 0;
//     bottom: -1px;

//     display: block;
//     width: 100%;
//     height: 4px;

//     background-color: var(--accent-color);
//     border-radius: 2px;
//   }
// }

// .page-header__contacts-list {
//   display: flex;
//   margin-left: auto;
// }

// .page-header__contacts-link {
//   display: flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: var(--secondary-color);
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .page-header__contacts-item {
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .site-nav__link,
// .page-header__contacts-link {
//   transition: color var(--animation);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .page-header__contacts-icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
