.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-footer);
}

.page-footer__wrapper {
  display: flex;
  align-items: baseline;
}

.page-footer__address-box {
  width: 231px;
}

.page-footer__address {
  font-style: normal;
}

.page-footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__link {
  color: var(--white-color);
}

.page-footer__link_white {
  color: var(--white-transparent-color);
  line-height: 1.71;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.page-footer__social-box {
  margin-left: 70px;
}

.page-footer__form-box {
  margin-left: auto;
}
