.team {
  background-color: var(--bgc-gray);
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__inner {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  @include font(16px, 19px);
}

.team__text {
  margin-bottom: 16px;

  @include font(16px, 19px);
  color: var(--secondary-color);
}
// 88888888888888
// .team {
//   background-color: var(--bgc-gray);
// }

// .team__list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// }

// .team__item {
//   flex-basis: calc((100% - 90px) / 4);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
//   background-color: var(--white-color);
// }

// .team__inner {
//   padding-top: 30px;
//   padding-bottom: 30px;

//   text-align: center;
// }

// .team__name {
//   margin-bottom: 10px;
//   font-weight: 500;
//   @include font(16px, 19px);
// }

// .team__text {
//   margin-bottom: 16px;

//   @include font(16px, 19px);
//   color: var(--secondary-color);
// }
